body{
    background-color: rgb(71, 167, 142);
    background-size: cover;
    line-height: 1.7;
}

table{
    width: 95vw;
    font-size: 25px;
    color: white;
}

 table ul li{
    padding-bottom: 20px;
}

table div a{
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    padding-right: 10px;
}

table div a:hover{
    color: orange;
}

h1{
    font-size: 55px;
    color: rgb(255, 255, 255);
}



